.app {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
}

.character-img {
  border-radius: 50%;
}
